@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

body {
    font-family: "Jeju Gothic", sans-serif;
}

nav {
    padding: 4rem;
    border-bottom: 1px solid hsl(24, 11%, 91%);
    font-family: "Montserrat", sans-serif;
}

footer {
    font-size: 11px;
    background-color: hsla(0, 2%, 90%, 0.329);
    text-align: center;
}

.back-color {
    background-color: hsla(0, 2%, 90%, 0.329);
}

/* nav 시작 */
.logo-area {
    border-bottom: 1px solid hsl(20, 8%, 85%);
}

.logo-text {
    text-decoration: none;
    color: #d27328;
    font-family: "Montserrat", sans-serif;
}

.logo-text:hover {
    color: #d27328;
}

.nav-icons {
    font-size: 20px;
}

.home {
    color: #d27328 !important;
}

.active {
    color: #d27328 !important;
}

.icon {
    color: rgba(0, 0, 0, 0.55);
    padding-left: 20px;
}

/* carousel 시작 */
.carousel-caption {
    color: black;
    font-family: "Montserrat", sans-serif;
}

/* HOME text 시작 */
.main-text {
    display: flex;
    align-items: center;
    color: #7c7b79;
    font-size: 13px;
}

.container > hr {
    width: 4%;
    margin-left: auto;
    margin-right: auto;
    height: 4px;
    color: #703b12;
    margin-top: 0;
    margin-bottom: 50px;
}

/* footer 시작 */
.footer-firstline {
    color: #979694;
    border-top: 1px solid hsl(20, 8%, 85%);
}

.footer-firstline > span {
    padding: 0 5px;
}

.footer-secondline {
    color: #979694;
}

/* ABOUT - main 시작 */
.about-main {
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 10%;
    font-size: 13px;
}

.text-span > span {
    padding-right: 5px;
}

.second-span {
    padding-left: 45px;
}

.second-span > span {
    padding-right: 5px;
}

/* PROJECTS - main 시작 */
.card-img-top {
    width: 100%;
    height: 15rem;
    object-fit: cover;
}

/* 카드 테두리 */
.card {
    border: none;
    border-radius: 0;
    margin-bottom: 30px;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
}

.card-body {
    background-color: hsla(0, 2%, 90%, 0.329);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-text {
    text-align: center;
    font-size: 13px;
}

/* CONTACT 시작 */
.contact-main {
    display: flex;
    justify-content: center;
}

.con-map {
    padding-top: 8%;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.con {
    padding-top: 2rem;
    padding-left: 10%;
}

.con-text {
    list-style: none;
    padding-left: 0;
    padding: 20px 0;
    font-size: 13px;
}

.con-text > li > span {
    margin-right: 2rem;
    color: #949393;
}

.con-text > li {
    padding-bottom: 10px;
    color: #949393;
}

strong {
    font-size: 14px;
}

.btn-secondary {
    font-size: small;
}

/* PROCESS 시작 */
.process-main {
    padding-top: 5%;
    font-size: 14px;
}

.process-text {
    padding-bottom: 50px;
}

.process-text > ul > li {
    line-height: 2.1;
    color: #686868;
}

/* 미디어 쿼리 */
@media screen and (max-width: 50rem) {
    /* 상단 로고 미디어쿼리 */
    .logo-text > h5 {
        padding: 5px;
    }

    /* nav-bar 미디어쿼리 */
    nav {
        padding: 2rem;
    }

    .navbar-brand {
        font-size: 18px;
    }

    .navbar-toggler {
        border: none;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    .container {
        padding: 0 20px;
    }

    /* carousel 이미지 속 텍스트 */
    .d-sm-block > p {
        font-size: 5px;
    }

    /* carousel 이미지 속 텍스트 */
    .d-sm-block > h4 {
        font-size: 15px;
        font-weight: 500;
        padding-right: 15px;
    }

    /* carousel 이미지 속 텍스트 */
    .d-sm-block {
        display: flex;
        align-items: flex-start;
        height: 100%;
        padding-top: 30px;
        text-shadow: 1px 1px 1px gray;
        color: white;
    }

    /* HOME text */
    .main-text {
        font-size: 11px;
    }

    h5 {
        font-size: 14px;
        padding-top: 20px;
    }

    hr {
        margin-top: 0;
    }

    /* footer */
    .footer-firstline {
        font-size: 10px;
    }

    .footer-secondline {
        font-size: 10px;
    }

    /* ABOUT 미디어쿼리 */

    .about-area {
        padding: 30% 0 100% 15%;
    }

    .text-span {
        font-size: 11px;
    }

    .second-span {
        margin-left: -6px; /* 기존 스타일처럼 padding으로 값을 주려고 했는데 안돼서 margin으로 주니 됨 */
        font-size: 11px;
    }

    /* CONTACT 미디어쿼리 */
    .btn {
        margin-bottom: 10%;
    }

    .contact-main {
        height: 150vh;
    }

    /* PROJECT 미디어쿼리 */
    .card-text {
        font-size: 12px;
    }

    /* PROCESS 미디어쿼리 */
    .process-main {
        font-size: 12px;
        padding-top: 8%;
    }
}
